<h1>It's Darty Time!</h1>
<p>Use the Darty app to connect to your game.</p>
<p style="font-size:xx-large">@GameId</p>

@code {
    [Parameter]
    public string GameId { get; set; }

    [Parameter]
    public EventCallback<string> GameIdChanged { get; set; }

    protected override async Task OnInitializedAsync()
    {
    }
}
