@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using Darty.Core
@using Darty.Core.Resources.Responses
@inject Darty.Core.ApiClient.DartyApiClient _apiClient
@inject AppSettings _appSettings;

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {
        string gameId = await _apiClient.GenerateGameId().ConfigureAwait(false);
        Console.WriteLine($"GameId: {gameId}");

        hubConnection = new HubConnectionBuilder()
            .WithUrl(_appSettings.SignalRHubBaseUrl, (options) =>
            {
                options.Headers.Add("x-ms-signalr-userid", gameId);
            })
            .Build();

        hubConnection.On(Targets.NewGame, () => Console.WriteLine($"NEW GAME"));

        hubConnection.On(Targets.DartThrow, () => Console.WriteLine($"DART THROW"));

        await hubConnection.StartAsync().ConfigureAwait(false);
    }
}