@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using Darty.Core.Resources.Responses
@using Darty.Web.Settings
@using Darty.Web.Hubs
@inject Darty.Core.ApiClient.DartyApiClient ApiClient
@inject HttpClient Http

@if (_game == null)
{
    <h1>It's Darty Time!</h1>
    <p>Use the Darty app to connect to your game.</p>
    <p style="font-size:xx-large">@_gameId</p>
}
else
{
    <p>Players: {@_game.Player1.Name} / {@_game.Player2.Name}</p>
}

@code {
    private HubConnection _hubConnection;
    private string _gameId;
    private GameModelResponse _game = null;

    protected override async Task OnInitializedAsync()
    {
        ClientConfig cofnig = await Http.GetFromJsonAsync<ClientConfig>("config/client_config.json");
        ApiClient.SetBaseUrl(cofnig.ApiBaseUrl);
        _gameId = await ApiClient.GenerateGameId().ConfigureAwait(false);
        Console.WriteLine($"GameId: {_gameId}");

        async Task NewGame()
        {
            _game = await ApiClient.GetGameById(_gameId).ConfigureAwait(false);
            Console.WriteLine($"Players: {_game.Player1.Name} / {_game.Player2.Name}");
        }

        async Task DartThrow()
        {
            _game = await ApiClient.GetGameById(_gameId).ConfigureAwait(false);
            Console.WriteLine("DartThrow");
        }

        _hubConnection = GameHubBuidler.Build(cofnig.ApiBaseUrl, _gameId, NewGame, DartThrow);

        await _hubConnection.StartAsync().ConfigureAwait(false);
    }
}