@page "/"
@inject Darty.Core.ApiClient.DartyApiClient _apiClient

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {

    protected override async Task OnInitializedAsync()
    {
        var result = await _apiClient.GenerateGameId().ConfigureAwait(false);
        var result2 = await _apiClient.GetGameById("3BYSYC").ConfigureAwait(false);
    }
}